@model JGBugTracker.Models.ViewModels.ProjectMembersViewModel



<div class="row">
    <div class="col text-center">
        <h2>Assign Members for</h2>
        <div class="row">
            <div class="col text-center">
                <h3> @Model.Project!.Name</h3>
                <div class="row">
                    <div class="col-lg-6 text-center mx-auto">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <h4 class="mb-0 text-white">Assign A Project Members</h4>
                            </div>
                            <div class="card-body">
                                <form method="post" asp-action="AssignProjectMembers" asp-controller="Projects">
                                    <input hidden asp-for="Project!.Id" />
                                    <div class="col-12 mb-3">
                                        <div class="form-group">
                                            <select required asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model!.UsersList" multiple="multiple"></select>
                                            <option></option>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="col mb-2">
                                            <input type="submit" class="btn alert-primary" value="Assign Users" />
                                        </div>
                                    </div>
                                </form>
                                <div>
                                    <a class="btn alert-primary" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Project.Id">Back to Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
