@model JGBugTracker.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-6 text-center mx-auto">
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="mb-0 text-white">Create A New Ticket</h4>
            </div>
            <form asp-action="Create" class="form-horizontal">
                <div class="form-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="card-body">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="card-body border-top">
                        <label asp-for="ProjectId" class="control-label"></label>
                        <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                    </div>
                    <div class="card-body">
                        <label asp-for="TicketTypeId" class="control-label"></label>
                        <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                    </div>
                    <div class="card-body">
                        <label asp-for="TicketPriorityId" class="control-label"></label>
                        <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                    </div>
                    <div class="card-body border-top">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
            <div>
                <a class="btn btn-primary mb-3" asp-action="AllTickets">Back to All Tickets</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
